{% extends "base.html" %}

{% block content %}
<form class="well form-horizontal" action="/kayit" method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend><center><h2><b>Adres Düzenle </b></h2></center></legend><br>

<!-- il seç -->

<div class="form-group">
  <label class="col-md-4 control-label">İl</label>
  <div class="col-md-4 selectContainer">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-list"></i></span>
  <select name="sel-il" id="sel-il" class="form-control selectpicker">
    <option disabled selected>Seçiniz...</option>
    {% for il in iller %}
    <option value="{{il.id}}">{{ il.ad }}</option>
    {% endfor %}
  </select>
  </div>
  </div>
</div>

<!-- ilçe seç -->

<div class="form-group">
  <label class="col-md-4 control-label" id="lbl-ilce">İlçe</label>
  <div class="col-md-4 selectContainer">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-list"></i></span>
  <select name="sel-ilce" id="sel-ilce" class="form-control selectpicker">
  </select>
  </div>
  </div>
</div>


<!-- bolge seç -->

<div class="form-group">
  <label class="col-md-4 control-label" id="lbl-bolge">Bölge</label>
  <div class="col-md-4 selectContainer">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-list"></i></span>
  <select name="sel-bolge" id="sel-bolge" class="form-control selectpicker">
  </select>
  </div>
  </div>
</div>

<!-- Mahalle seç -->

<div class="form-group">
  <label class="col-md-4 control-label" id="lbl-mahalle">Mahalle</label>
  <div class="col-md-4 selectContainer">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-list"></i></span>
  <select name="sel-mahalle" id="sel-mahalle" class="form-control selectpicker">
  </select>
  </div>
  </div>
</div>
<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="fa fa-thumbs-up"></i> Success!.</div>

<!-- Button -->
<div class="form-group">
<label class="col-md-4 control-label"></label>
<div class="col-md-4"><br>
  <button type="submit" class="btn btn-warning" >Kaydet <span class="fa fa-send"></span></button>
</div>
</div>

</fieldset>
</form>

{% endblock %}

{% block jscript %}
<script>
function ilceAl(ilid) {
    $("#sel-ilce").html('<option disabled selected>Seçiniz...</option>');
    $("#lbl-ilce").html('İlçeler Güncelleniyor...<i class="fa fa-spinner fa-spin"></i>');
    $.getJSON("/ajax/ilce-al?id=" + ilid, function(data) {
        $("#lbl-ilce").html('İlçe');
        $.each(data, function(key, ilce) {
            $("#sel-ilce").append('<option value="' + ilce.id + '">' + ilce.ad + '</option>');
        });

    });
}

function bolgeAl(ustid) {
    $("#sel-bolge").html('<option disabled selected>Seçiniz...</option>');
    $("#sel-mahalle").html('');
    $("#lbl-bolge").html('Bolgeler Güncelleniyor...<i class="fa fa-spinner fa-spin"></i>');
    $.getJSON("/ajax/bolge-al?id=" + ustid, function(data) {
        $("#lbl-bolge").html('Bölge');
        $.each(data, function(key, xe) {
            $("#sel-bolge").append('<option value="' + xe.id + '">' + xe.ad + '</option>');
        });
    });
}

function mahalleAl(ustid) {
    $("#sel-mahalle").html('<option disabled selected>Seçiniz...</option>');
    $("#lbl-mahalle").html('Mahalleler Güncelleniyor...<i class="fa fa-spinner fa-spin"></i>');
    $.getJSON("/ajax/mahalle-al?id=" + ustid, function(data) {
        $("#lbl-mahalle").html('Mahalle');
        //$("#sel-mahalle").html('<option disabled>Seçiniz...</option>');
        $.each(data, function(key, xe) {
            $("#sel-mahalle").append('<option value="' + xe.id + '">' + xe.ad + '</option>');
        });
    });
}

$('#sel-il').on('change', function(e) {
    var valueSelected = this.value;
    $("#sel-ilce").html('');
    $("#sel-bolge").html('');
    $("#sel-mahalle").html('');
    ilceAl(valueSelected);
});

$('#sel-ilce').on('change', function(e) {
    var valueSelected = this.value;
    $("#sel-bolge").html('');
    $("#sel-mahalle").html('');
    bolgeAl(valueSelected);
});
$('#sel-bolge').on('change', function(e) {
    var valueSelected = this.value;
    $("#sel-mahalle").html('');
    mahalleAl(valueSelected);
});
</script>
{% endblock %}
