{% extends "base.html" %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#uye">Üye</a></li>
  <li><a data-toggle="tab" href="#kimlik">Kimlik Bilgileri</a></li>
  <li><a data-toggle="tab" href="#adres">Adres</a></li>
</ul>

<div class="tab-content">
<div id="uye" class="tab-pane fade in active">

  <form class="well form-horizontal" action="/kayit" method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend><center><h2><b>Üye Kayıt </b></h2></center></legend><br>

<div class="form-group">
  <label class="col-md-4 control-label">İsim</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-user"></i></span>
  <input  name="isim" placeholder="İsim" class="form-control"  type="text">
  </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label" >Soyisim</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
<span class="input-group-addon"><i class="fa fa-user"></i></span>
<input name="soyisim" placeholder="Soyisim" class="form-control"  type="text">
  </div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label">Telefon</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
<input name="telefon" placeholder="" class="form-control" type="text">
  </div>
</div>
</div>

<!-- Select Basic -->

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="fa fa-thumbs-up"></i> Success!.</div>

<!-- Button -->
<div class="form-group">
<label class="col-md-4 control-label"></label>
<div class="col-md-4"><br>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspKaydet <span class="fa fa-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
</div>
</div>

</fieldset>
</form>
</div>

<div id="kimlik" class="tab-pane fade">
<form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend><center><h2><b>Kimlik Bilgileri</b></h2></center></legend><br>

<div class="form-group">
  <label class="col-md-4 control-label">Cinsiyet</label>
  <div class="col-md-4 selectContainer">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-list"></i></span>
  <select name="cinsiyet" class="form-control selectpicker">
    <option value="1">Bay</option>
    <option value="2">Bayan</option>
  </select>
  </div>
  </div>
</div>

</div>



</div>
{% endblock %}
